.categories{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
margin:20px;
}

.categories button{
padding:10px 18px;
border:none;
background:#222;
color:white;
cursor:pointer;
border-radius:20px;
transition:0.3s;
}

.categories button:hover{
background:#f5c518;
color:black;
transform:scale(1.05);
}
